.container {
    text-align: center;
    padding: 20px;
  }

  .container h2 {
    margin-bottom: 20px;
  }
  
  .uploadArea {
    width: 100%;
    height: 150px;
    border: 2px dashed #4CAF50;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .uploadLabel {
    font-size: 18px;
    color: #4CAF50;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .uploadLabel i {
    font-size: 22px;
  }
  
  .uploadArea input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

  }
  
  .imagenWrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #ddd;
    background: white;

  }
  
  .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

  }
  
  .videoPreview {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

  }
  
  .playOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .eliminarBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .visor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .visorMedia {
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
    z-index: 110;
    position: relative;
  }
  
  .botonIzq, .botonDer {
    position: absolute;
    background: white;
    color: black;
    border: none;
    padding: 8px 13px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .botonIzq {
    left: 20px;
  }
  
  .botonDer {
    right: 20px;
  }
  
  .eliminarEnVisor {
    position: absolute;
    /* bottom: 5px; */
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
  }

  .playPauseOverlay {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 30px; 
    z-index: 10000;
  }
  