.titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }


  .addButton2 {
    padding: 10px 20px;
    background-color: var(--sidebar-bg);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
    user-select: none;
    font-size: medium;
    text-transform: capitalize;
    margin-left: 10px;
  }

  .addButton3 {
    padding: 10px 20px;
    background-color: var(--sidebar-bg);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
    user-select: none;
    font-size: medium;
    text-transform: capitalize;
    margin-left: auto;
  }
  .botonAgregar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: auto;
  }
  
  .botonEditar:hover {
    background-color: #0056b3;
  }
  
  /* Modal */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .modal2 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }


  
  .modal h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .modal label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .modal input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal2 h2 {
    margin-bottom: 15px;
    color: #333;
  }
  .prueba2 {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

  }
  
  .prueba {
    width: 50%;
  }
  
  .modal2 label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .modal2 input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .saveButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #218838;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cancelButton:hover {
    background-color: #c82333;
  }
  .modal select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  