.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 10px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

}

.addButton2 {
  padding: 10px 20px;
  background-color: var(--sidebar-bg);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  user-select: none;
  font-size: medium;
  text-transform: capitalize;
  margin-left: 10px;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 10px;
  width: max-content;
  margin-left: auto;
}

.addButton:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.actions {
  display: flex;
  gap: 10px;
  border: 2px solid red;
}

.verButton , .editButton, .deleteButton {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.verButton {
  background-color: #007bff;
  color: white;
}
.editButton {
  background-color: #28a745;
  color: white;
}

.editButton:hover {
  background-color: #218838;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}

/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  margin-bottom: 15px;
  color: #333;
}


.modal label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.divselector {
  display: flex;
  align-items: center;
}

.divselector label {
  margin: 0%;
  margin-right: 10px;
}
.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.saveButton:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cancelButton:hover {
  background-color: #c82333;
}



/* Responsive */
.tabsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tab {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.tab:hover {
  background-color: #ddd;
}

.activeTab {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

/* .tabContent {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */
