.dashboard {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    /* padding-top: var(--header-height); */
    padding-top: 30px;
    min-width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
    color: white;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
    user-select: none;
    z-index: 100;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}




.content {
    min-width: calc(100% - var(--sidebar-width));
    width: 100%;
}

.header_content {
    height: var(--header-height);
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0%;
    z-index: 10;
}

.jbizsign_content {
    font-weight: 600;
    font-size: 20px;
}

.main_content {
    min-height: calc(100vh - var(--header-height));
    padding: 20px;
}

.btn_menu_content {
    cursor: pointer;
    margin-right: 20px;

}

/* .main_content {
    height: 1000px;
} */

@media (min-width: 868px) {
    .sidebar {
        position: fixed;
        transform: translateX(-100%);
    }
    
    .sidebar.open {
        position: sticky;
        top: 0px;
        transform: translateX(0);
    }
}

@media (max-width: 868px) {

    .sidebar {
        width: 100%;
        position: absolute;
        left: -100%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
        transition: left 0.3s;
    }

    .sidebar.open {
        left: 0;
    }
}