.contenedor {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

/* Contenedor de las pestañas */
.tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Permite desplazamiento horizontal */
  /* border-bottom: 3px solid #ccc; */
  margin-top: 10px;
  scrollbar-width: thin; /* Estiliza la barra de desplazamiento en Firefox */
 
}

/* Estiliza la barra de desplazamiento en navegadores basados en WebKit (Chrome, Edge, Safari) */
.tabs::-webkit-scrollbar {
  height: 5px;
}

.tabs::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Botones de pestañas */
.tab {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Íconos dentro de las pestañas */
.tab i {
  margin-bottom: 3px;
  font-size: 18px;
}

/* Hover */
.tab:hover {
  background-color: #f0f0f0;
}

/* Pestaña activa */
.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}

/* Contenedor del contenido de las pestañas */
.contenido {
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .tab {
    font-size: 14px;
    padding: 8px 12px;
  }

  .tab i {
    font-size: 16px;
  }

  .contenido {
    padding: 8px;
  }
}
